extends ../layout.pug
include ../mixins/mix_registrer/registrerMixins

block metadata
    title Registrarse

block content
    body
        .login_content(class="bg-gray-200 flex flex-col items-center justify-center mx-150 mt-10")
            p(class="text-3xl font-bold block mt-5") Paso 1 de 2

            p(class="text-3xl font-bold block mt-5") Ingrese los siguientes datos

            form(action=`${current_url}`, method="post" id="form_registrer" name="form_registrer")
                div(class="flex flex-col mt-10 mb-7")
                
                    label(for="form_nombre" class="text-[25px]") Nombre
                    input(type="text", name="form_nombre" id="form_nombre" class="text-1xl text-gray-950 font-bold py-[5px] pl-2 bg-white block w-125 mb-4" value=form_name ? form_name : "")
                    
                    label(for="form_apellido" class="text-[25px]") Apellido
                    input(type="text", name="form_apellido" id="form_apellido" class="text-1xl text-gray-950 font-bold  py-[5px] pl-2 bg-white block w-125 mb-4" value=form_last_name ? form_last_name : "")

                    label(for="form_fecha_nacimiento" class="text-[25px]") Fecha de Nacimiento
                    input(type="date", name="form_fecha_nacimiento" id="form_fecha_nacimiento" class="text-1xl text-gray-950 font-bold pl-1 py-[5px] bg-white block w-125 mb-4" value=form_birthday ? form_birthday : "")
                    
                    label(for="form_genero" class="text-[25px]") Genero
                    select(name="form_genero" id="form_genero" class="text-1xl text-gray-500 font-bold py-[5px] pl-1 bg-white block w-125 mb-4")
                        option(value="genero_default" selected disabled) Genero
                            each val_genre in options_genre
                                option(class="text-black" value= val_genre)= val_genre
                    
                    label(for="form_mail" class="text-[25px]") Mail
                    input(type="text", name="form_mail" id="form_mail" class="text-1xl text-gray-950 font-bold py-[5px] pl-2 bg-white block w-125 mb-4" value=form_mail ? form_mail : "")

                    label(for="form_tipodni" class="text-[25px]") Tipo de DNI
                    select(name="form_tipodni" id="form_tipodni" class="text-1xl text-gray-500 font-bold py-[5px] pl-1 bg-white block w-125 mb-4")
                        option(value="tipo_dni" selected disabled class=form_typedni ? "text-black": "") Tipo DNI
                            each val_dni in options_dni
                                option(class="text-black" value= val_dni)= val_dni
                    
                    label(for="form_dni" class="text-[25px]") Ingrese su numero de DNI
                    input(type="text", name="form_dni" id="form_dni" class="text-1xl text-gray-950 font-bold py-[5px] pl-2 bg-white block w-125 mb-2" value=form_dni ? form_dni : "")
                      
                   
                div(class="flex justify-center mb-5")
                    a(href="/login" class="hover:text-blue-400") 
                        p(class="text-2xl") Inicia sesion si ya tiene una cuenta
                div(class="flex justify-center mb-5")
                    button(type="submit" class="border-none pl-20 pr-20 py-2 text-2xl bg-white font-bold hover:bg-orange-500 hover:text-white") Continuar
        if error
            +error_form1(error)
        if msg
            
        
    script(src="../script/registrer/registrer_src.js" defer) 
             